<div class="product-wrap">
<a href="#" class="back-to">&#8592; Всички продукти</a>
<h1>{{curProduct.name}}</h1>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<aside>
  <dl>
      <dt>Код</dt>
      <dd>{{curProduct.code}}</dd>
      <dt>Информация за формуляра</dt>
      <dd>{{curProduct.desc}}</dd>
      <dt>Цена на дребно</dt>
      <dd>{{curProduct.price}} лв.</dd>
    </dl>
    <a href="mailto:info@vega33.com?subject=Запитване за {{curProduct.name}} {{curProduct.code}}&body=Запитване за {{curProduct.name}} {{curProduct.code}}">Изпрати запитване за продукт</a>
</aside>
<img ng-src="{{curProduct.full_img}}" />
</div>
