<fieldset class="product-search">
    <div class="field">
        <input type="text" id="input-search" class="ico-search" ng-model="searchString" pattern=".{1,}" required />
        <label for="input-search">Търсене</label>
    </div>
</fieldset>
<ul class="product-list">
    <li ng-repeat="product in products | searchFor:searchString">
        <a href="#/product/{{product.id}}"><img ng-src="{{product.tbn_img}}" /></a>
        <br>
        <a href="#/product/{{product.id}}">{{product.name}}</a>
    </li>
</ul>
<p class="search-msg hidden">Няма намерени продукти. <span> Използвайте кирилица, за да търсите по име на формуляр!</span></p>
