<!-- <h1>Всички продукти</h1> -->

<fieldset class="product-search">
    <p><input type="text" class="ico-search" placeholder="Търсене" ng-model="searchString" /></p>


<!--     <select ng-model="selectedCat" ng-init="selectedCat = selectedCat || category[0].id" ng-options="category.id as category.name for category in categories" ng-change="catSelected({{selectedCat}})">
    <option value="">Всички продукти</option>
    </select>
    <pre>{{selectedCat}}</pre>
-->
   <!--  <select ng-model="categories" ng-show="!categories.item">
      <option ng-repeat="cat in categories">{{ cat.name }}</option>
    </select>

    <select
    ng-model="categories"
    ng-options="value.id as value.label group by value.name for value in myOptions">
    <option>--</option>
    </select>
 -->

</fieldset>
<ul class="product-list">
    <li ng-repeat="product in products | searchFor:searchString | filterByCategory:filteredCategory">
        <a href="#/product/{{product.id}}"><img ng-src="{{product.tbn_img}}" /></a>
        <!-- <br> -->
        <!-- {{product.id}} -->
        <!-- <br> -->
        <!-- {{product.code}} -->
        <!-- <br> -->
        <!-- {{product.desc}} -->
        <br>
        <a href="#/product/{{product.id}}">{{product.name}}</a>

    </li>
</ul>
<p class="search-msg hidden">Няма намерени продукти. <span> Използвайте кирилица, за да търсите по име на формуляр!</span></p>
